{% extends 'base.html' %}
{% block title%}Question{% endblock %}

{% block content %}
<table class="highlight">
<th>Title: {{ object.title }}</th>
<tr><td>Body: {{ object.body }}</td></tr>
<tr><th>Tags: </th>
{% for tag in object.tags.all %}
<td>{{ tag }}</td>
{% endfor %}
</tr>
</table>

<table class="highlight">
  {% for answer in question_answers.all %}
    <tr><th>Answer</th>
    <th>Score</th></tr>
    <tr><td>{{ answer.body }}</td>
        <td>{{ answer.score }}</td></tr>
  <tr><td><a href="{% url 'upvote_create_view' answer.pk %}">
    <button class="btn waves-effect waves-light" type="submit" name="action">Upvote
    <i class="material-icons right">thumb_up</i></button></a>
    <a href="{% url 'downvote_create_view' answer.pk %}">
    <button class="btn waves-effect waves-light" type="submit" name="action">Downvote
      <i class="material-icons right">thumb_down</i></button></a></td></tr>
  {% endfor %}
</table>
<br><br>
<a href="{% url 'answer_create_view' object.pk %}">
<button class="btn waves-effect waves-light" type="submit" name="action">Answer Here!
  <i class="material-icons right">send</i></button></a>
{% endblock %}
