{% extends 'base.html' %}
{% block title%}Your Question{% endblock %}

{% block content %}
 <h3>{{ request.user }}, Post Any Question You Have!</h3>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type='text' name='tags' placeholder='tag1, tag2'>
    <label for='tags'>Tags:</label>
    <br><br><br>
    <button class="btn waves-effect waves-light indigo darken-4" type="submit" name="action">Post Your Question
    <i class="material-icons right">send</i>
    </button>
</form>
{% endblock %}
