{% extends 'base.html' %}
{% block title%}Question{% endblock %}

{% block content %}
<table class="highlight">
<th>Title: {{ object.title }}</th>
<tr><td>Body: {{ object.body }}</td></tr>
<tr>
{% for tag in object.tags.all %}
<td>{{ tag }}</td>
{% endfor %}
</tr>
</table>

<table>
  <th>Answers</th>
  <th>Score</th>
  {% for answer in question_answers.all %}
    <tr>
      <td>{{ answer.body }}</td>
      <td>{{ answer.score }}</td>
    </tr>
  {% endfor %}
</table>
<a href="{% url 'answer_create_view' object.pk %}">Answer Here!</a>
{% endblock %}
